/* index.html css */

.amdt-nav-brand {
  padding-top: 20px;
}

.amdt-nav-bar {
  padding-top: 20px;
}
.amdt-nav-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #606060;
  text-decoration: none;
  font-weight: 700;
}

li{
  display: inline-block;
}

li a{
  display: inline-block;
}

.link-underline::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: #1a1a1a;
  transition: width .3s;
}

.link-underline:hover::after{
  width: 100%;
  transition: width .3s;
}

.amdt-footer {
  color: black;
  padding: 10px;
}
