/* index.html css */

.amdt-nav-brand {
    padding-top: 20px;
}

.amdt-nav-bar {
    padding-top: 20px;
}

.amdt-nav-text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
}

.link-underline::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width .3s;
}

.link-underline:hover::after {
    width: 100%;
    transition: width .3s;
}

.amdt-footer {
    color: rgb(180, 180, 180);
    background-color: #000000;
    padding: 10px;
}


/*Nav*/

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: black;
    padding: 10px;
}

.nav-links {
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
}

/*Hamburger*/

.burger {
    display: none;
}

.burger div {
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.line1 {
    width: 25px;
    height: 2px;
    background-color: white;
}

.line2 {
    width: 20px;
    height: 2px;
    background-color: white;
}

.line3 {
    width: 15px;
    height: 2px;
    background-color: white;
}

@media screen and (max-width:1366px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:1366px) {
    .nav-links {
        width: 100%;
    }
    #creativity {
        margin-top: 0%;
    }
}

@media screen and (max-width:1024px){
    .chevron-bod div{
        display: none;
    }
    #creativity{
        margin-top: 10%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    nav {
        font-weight: 300;
    }
    li {
        display: inline-block;
    }
    li a {
        display: inline-block;
    }
    .link-underline::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: white;
        transition: width .3s;
    }
    .link-underline:hover::after {
        width: 100%;
        transition: width .3s;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 400%;
        width: 100%;
        top: 15vh;
        display: flex;
        background-color: #000;
        opacity: 95%;
        flex-direction: column;
        align-items: flex-end;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 25px;
    }
    .nav-links li {
        opacity: 0;
        margin-right: 10%;
    }
    .burger {
        display: block;
        padding-right: 10px;
        padding-top: 10px;
    }
    #creativity {
        margin-top: 30%;
    }
    .chevron-bod div{
        display: none;
    }
}

@media screen and (max-width:500px) {
    .nav-links a{
        font-size: 14px;
    }
    .chevron-bod div{
        display: none;
    }
}

.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 3px);
    background-color: white;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -4px);
    background-color: white;
    width: 25px;
}

.section1{
    width: 100%;
    height: 100%;
    background-color: #000;
}

#creativity {
    position: absolute;
    padding-top: 20%;
    left: 50%;
    transform: translateX(-50%);
    animation: fill 1s ease forwards 2s;
}

#creativity path:nth-child(1) {
    stroke-dasharray: 433.54156494140625px;
    stroke-dashoffset: 433.54156494140625px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(2) {
    stroke-dasharray: 583.27685546875px;
    stroke-dashoffset: 583.27685546875px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(3) {
    stroke-dasharray: 516.794189453125px;
    stroke-dashoffset: 516.794189453125px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(4) {
    stroke-dasharray: 520.9534301757812px;
    stroke-dashoffset: 520.9534301757812px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(5) {
    stroke-dasharray: 374.7081604003906px;
    stroke-dashoffset: 374.7081604003906px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(6) {
    stroke-dasharray: 239.0621337890625px;
    stroke-dashoffset: 239.0621337890625px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(7) {
    stroke-dasharray: 461.90521240234375px;
    stroke-dashoffset: 461.90521240234375px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(8) {
    stroke-dasharray: 239.0621337890625px;
    stroke-dashoffset: 239.0621337890625px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(9) {
    stroke-dasharray: 374.7081604003906px;
    stroke-dashoffset: 374.7081604003906px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(10) {
    stroke-dasharray: 393.23992919921875px;
    stroke-dashoffset: 393.23992919921875px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(11) {
    stroke-dasharray: 473.057861328125px;
    stroke-dashoffset: 473.057861328125px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(12) {
    stroke-dasharray: 374.70599365234375px;
    stroke-dashoffset: 374.70599365234375px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(13) {
    stroke-dasharray: 520.9522705078125px;
    stroke-dashoffset: 520.9522705078125px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(14) {
    stroke-dasharray: 583.2755126953125px;
    stroke-dashoffset: 583.2755126953125px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(15) {
    stroke-dasharray: 374.7060241699219px;
    stroke-dashoffset: 374.7060241699219px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(16) {
    stroke-dasharray: 473.05712890625px;
    stroke-dashoffset: 473.05712890625px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(17) {
    stroke-dasharray: 568.654052734375px;
    stroke-dashoffset: 568.654052734375px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(18) {
    stroke-dasharray: 516.7958984375px;
    stroke-dashoffset: 516.7958984375px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(19) {
    stroke-dasharray: 583.2762451171875px;
    stroke-dashoffset: 583.2762451171875px;
    animation: line-anim 2s ease forwards 0.5s;
}

#creativity path:nth-child(20) {
    stroke-dasharray: 516.7999267578125px;
    stroke-dashoffset: 516.7999267578125px;
    animation: line-anim 2s ease forwards 0.5s q    ;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}

/*scrollDown icon*/
.chevron-bod {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .chevron-cont {
    position: relative;
  }

  .chevron {
    position: absolute;
    top: 88%;
    margin-left: -1%;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 65%;
    margin-left: -20px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 50%;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }