<nav class="navbar fixed-top navbar-expand-lg container-fluid">
    <a class="mr-auto amdt-nav-brand" href="index.html">
        <img src="Assets/img/index/AMDT-School-of-Creativity-logo.png" width="25%" height="25%"
            alt="AMDT - School of Creativity">
    </a>
    <ul class="nav-links amdt-nav-text ml-auto">
        <li class="link-underline"><a href="#">TESTIMONIALS</a></li>
        <li class="link-underline"><a href="#">ABOUT THE DEVELOPER</a></li>
        <li class="link-underline"><a href="#">CONTACT US</a></li>  
    </ul>
</nav>
