<nav class="navbar fixed-top navbar-expand-lg container-fluid">
    <a class="mr-auto amdt-nav-brand" href="index.html">
        <img src="Assets/img/index/AMDT-School-of-Creativity-logo.png" width="25%" height="25%" alt="AMDT - School of Creativity">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse amdt-nav-bar" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="nav-testimonials">
                <a class="nav-link pl-3 amdt-nav-text link-underline" href="#">TESTIMONIALS</a>
            </li>
            <li class="nav-item" id="nav-developer">
                <a class="nav-link pl-3 amdt-nav-text link-underline" href="#">ABOUT THE DEVELOPER</a>
            </li>
            <li class="nav-item" id="contact">
                <a class="nav-link pl-3 amdt-nav-text link-underline" href="#">CONTACT US</a>
            </li>
            <div class="line"></div>
        </ul>
    </>
</nav>